<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>SM</title>
    <link rel="stylesheet" th:href="@{ssss}">
    <link rel="stylesheet" th:href="@{/js/script.js}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>
<body>

<header>


    <div style="height: 100px;background-color: blue;background-size: cover;padding-top: 25px;">
        <div class="header  d-flex justify-content-center" style="font-weight: bold;">
            <H2 class="text-light ">Northern University Bangladesh</H2>
        </div>
    </div>
</header>


<div class=" justify-content-end">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: indigo;">
        <a class="navbar-brand" href="#">Schedule Management System</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/index}">Home </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index/enrolledteacher}">CourseTeacher<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/enrolledteacher/addcourseTeacher}"> Add CourseTeacher</a>
                </li>


            </ul>
        </div>
    </nav>
</div>
<br/>
<br/>
<div class="container-fluid d-flex justify-content-center ">
    <div class="col-sm-8" tex-align = "center">
        <div class="panel-body" text-align = "center" >
            <table class="table table-hover">
                <thead class="thead bg-primary text-light">
                <tr>
                    <th>ID</th>
                    <th>TeacherAcronym</th>
                    <th>courseCode</th>
                    <th>courseName</th>
                    <th>SemesterName</th>
                    <th>Section</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="enrolledTeacher: ${enrolledTeacherList}">
                    <td th:text="${enrolledTeacher.id}">ID</td>
                    <td th:text="${enrolledTeacher.teacherAcro}">TeacherAcronym</td>
                    <td th:text="${enrolledTeacher.courseCode}">courseCode</td>
                    <td th:text="${enrolledTeacher.courseName}">courseName</td>
                    <td th:text="${enrolledTeacher.semesterName}">SemesterName</td>
                    <td th:text="${enrolledTeacher.sectionName}">SectionName</td>
                    <td>
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><a th:href="@{'/enrolledTeacher/edit/' + ${enrolledTeacher.id}}">Edit</a></button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><a th:href="@{'/enrolledTeacher/delete/' + ${enrolledTeacher.id}}">Delete</a></button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>